.right .content{
    
    top:61px;
    left:221px;
    width:calc(100%- 221px);
    height:calc(100vh - 93px); 
    display: flex;
    flex-direction: column;
    padding: 16px;
    
}
.content .content-header{
    width: 100%;
    height: 60px;
    margin: 0;
}
.content .filter-bar{

    
}
.content .content-table{
    width: 100%;
    height: 100%;
}
.content .content-list{
    
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
    padding-top: 30px;
}
.content-header-up-text{
    padding-left: 10px;
   
}
.content-header-up button{
    float: right;
    
    border-radius: 4px;
    border-style: none;
    height: 40px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

.filter-bar{
    margin-top: 16px;
    margin-bottom: 16px;
    
}
.filter-bar .inputBox{
    height: 40px;
    border-style: none;
    margin-right: 16px;
    border-radius: 4px;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
}
.filter-bar .inputBox:focus{
    outline-style: none;
    border: 1px solid #019160;    
}
.filter-bar .inputBox:focus::placeholder{
    color: transparent;
}
.filter-bar .input-text-findname{
    width: 200px;
}
.filter-bar button{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}


